h1 {
    color: red;
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0px 10px 20px;


}

table {
    border: 1px solid black;
    width: 90%;
    margin: 20px 10px 10px 30px;
    background-color: rgb(222, 222, 222);
    color: black;
    border-collapse: collapse;

}

th {
    border: 3px solid black;
    font-weight: bold;
    margin: 5px;
    padding: 5px;

}

td {
    border: 3px solid black;
    margin: 5px;
    padding: 10px 0px 5px 10px;

}

td:hover {
    color: red;

}

tr:hover {
    background-color: yellow;

}

tr:nth-child(odd) {
    background-color: azure;
}