.packages{
    width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 60px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

h1{
    font-weight: 550;
    font-size: 30px;
}

.packages-col{
    flex-basis: 26%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.packages-col img{
    height: 100%;
    width: 100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: var(--text);
    font-size: 22px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 48%;
    opacity: 1;
}
