header{
    background-image: linear-gradient(rgba(4,9,30,0.7),
    rgba(4,9,30,0.7)), url(../images/home.png);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}
.top-bar{
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 10px 10px 0px;
    display: block;
    position: relative;
    height: fit-content;
    padding: 10px;
}
 i{
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    color: var(--icon-color);
}
#top-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    width: 320px;
    justify-content: space-between;
    color: var(--text);

}
#top-left a{
    color: var(--text);
}
#top-right{
    display: flex;
    justify-content: right;
    float: right;
    width: 200px;
    justify-content: space-evenly;
}
#top-right a{
    color: var(--text);
}

/* header html file css */
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 15px;
}
.logo img{
    height: 100px;

}
nav{
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: right;
    align-items: center;
    padding: 20px;
    margin-right: 10px;
}

nav ul li a{
    color: var(--text);
    padding: 15px;
    text-decoration: none;
}

nav ul :hover{
    color: var(--hover-text);
    background-color: var(--hover); 
    font-weight: bolder;
    border-radius: 5px;
}

.submenu {
    display: none;
 }
 nav ul :hover .submenu{
    display: flex;
    height: auto;
    position: absolute; 
    overflow: hidden;
    flex-direction: column;
 }
 nav ul :hover .submenu ul{
    display: flex;
    flex-direction: column;
 }
.about{
    color: var(--text);
    position: absolute;
    top: 40%;
    left: 30%;
}
.about h1{
    font-size: 40px;
}
.about p{
    font: 15px;
    margin-left: 100px;
    margin-top: -20px;
}



/* know more button */
.button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
   }
   
   .button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .button:hover span {
    color: black;
   }
   
   .button::before,
   .button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .button:hover::before {
    transform: translate3d(100%, 0, 0);
   }


/* footer section */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0 20px 0px;
    background-color: var(--background) ;
    color: var(--text);
    padding: 20px;
    height: fit-content;
}
.fa-brands,.fab,.ins{
    font-size: 30px;
}

.footer-link{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-link a{
    color: var(--text);
    text-decoration: none;
}
.FAQ{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.FAQ a {
    color: var(--text);
    text-decoration: none;
}


.FAQ i{
    margin: 5px;
}
